{% extends 'core/base.html' %}
{% block title %} Sobre Green X {% endblock %}

{% block content %}
<div class="mb-40 text-xl px-6 py-12 bg-gray-100 rounded-xl">
  <h1 class="text-2xl font-bold text-center mb-6">¿Quiénes somos?</h1>
  <p class="max-w-3xl mx-auto text-center">
    Green X es una plataforma comprometida con el impulso de energías renovables, la conexión entre distribuidores y usuarios, y la transparencia en el mercado verde. Nuestra misión es facilitar el acceso a tecnologías limpias y sostenibles a través de una red segura, ética y colaborativa.
  </p>
</div>
{% endblock %}

